body {
  /* background-color: hsl(0, 0%, 96%); */
  background-color: #e9e9e9;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.header-wrapper {
  width: 100%;
  background-color: #a9a9a9;
  position: fixed;
  z-index: 5;
  padding: 20px;
  height: 106px;
  top: 0;
  left: 0;
}
header {
  display: flex;
  justify-content: center;
  margin: 0 5%;
  width: 90%;
}

.toggleCardSwitch-wrapper {
  /* border: 1px solid black; */
  font-weight: 600;

  text-shadow: 0 13.36px 8.896px #c4b59d, 0 1px 1px rgb(48, 48, 48);
  padding: 10px 60px;
  border-radius: 10px;
  color: rgb(224, 224, 224);
  background-color: rgba(128, 128, 128, 0.534);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.toggleInput {
  transition: all ease 0.3s;
}

.movie-container {
  width: 300px;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 20px;
  color: rgb(231, 231, 231);
  text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px rgb(48, 48, 48);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}
.movie-container-element {
  margin-top: 60%;
}

.movie-detail-wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}
.movie-rate {
  background: rgba(247, 187, 14, 1);
  width: fit-content;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 20px;
}
.movie-title {
  font-size: 26px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.movie-yearGenre {
  font-weight: 600;
}
.movie-description {
  text-align: justify;
  font-size: 16px;
  height: 144px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  font-family: 'Sanchez', serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* card1 css */

.movieCard-wrapper_card1 {
  max-width: 550px;
  height: fit-content;
  /* border: 1px solid red; */
  border-radius: 16px;
  transition: all ease 0.3s;
}
.movieCard-wrapper_card1:hover {
  box-shadow: 0px 0px 120px -25px rgb(0 0 0 / 50%);
}
.movie-wrapper_element_card1 {
  padding: 0 0 0 16px;
  background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: auto 30%;
  border-radius: 16px;
  position: relative;
}
.movie-details-wrapper_card1 {
  padding: 12px;
}
.movie-img-holder_card1 {
  border-radius: 0 16px 16px 0;
  /* border: 2px dotted purple   ; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -5;
  width: 50%;
  height: 100%;
}
.movie-titleGenreRating_card1 {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  border-radius: 16px;
}
.movie-title-card1 {
  /* border: 2px solid yellow; */
  font-family: 'Overlock', cursive;
  font-weight: 700;
  font-size: 26px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.movie-description_card1 {
  width: 70%;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-family: 'Maitree', serif;
  overflow: hidden;
  text-overflow: ellipsis;
}
