* {
  box-sizing: border-box;
}
.movie-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem;
  padding-top: 5rem;
  width: 80%;
  margin: 0 auto;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.searchBox {
  border: none;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 13.36px 8.896px #c4b59d, 0 1px 1px rgb(48 48 48);
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.534);
  position: relative;
}
.searchBox::placeholder {
  font-weight: 600;
  color: rgb(224, 224, 224);
}
.btn-search {
  border: none;
  background: none;
  color: #fff;
  text-shadow: 0 13.36px 8.896px #c4b59d, 0 1px 1px rgb(48, 48, 48);
  position: absolute;
  top: calc(50% - 30px);
  right: 0;
  cursor: pointer;
}

.icon-search {
  font-size: 20px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
form {
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
}

.inputWrapper {
  position: relative;
  width: 80%;
}
