.movie-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 3rem;
  padding-top: 2rem;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
header {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.searchBox {
  padding: 1rem 15rem;
  border: none;
  padding-left: 1rem;
  /* background-color: rgb(235, 239, 241); */
  font-size: 20px;
  color: dodgerblue;
  text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px rgb(48, 48, 48);
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.534);
  position: relative;
}
.searchBox::placeholder {
  font-weight: 600;
  color: #fff;
}
.btn-search {
  border: none;
  background: none;
  color: #fff;
  text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px rgb(48, 48, 48);
  position: absolute;
  top: calc(50% - 10px);
  right: 1rem;
}

.icon-search {
  font-size: 20px;
}

.inputWrapper {
  position: relative;
  display: inline-block;
}
