.movie-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 3rem;
  padding-top: 2rem;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
